
/*-----Google font import-----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Raleway:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*-----Body Part-----*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
     margin: 0 auto;
     
     
}
/*-----Navigation Menu Part-----*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px; 
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #0A0826;
    font-weight: 600;
    padding: 15px 10px;
}

.icon .fas{
    padding: 5px;
    font-size: 25px;
    
}
/*-------------
---------------
          Banner section
         ---------------
         ------------------*/

.banner{
    height: calc(100vh - 80px);
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
   
}
.banner-left h2{
    font-size: 45px;
    
}
.banner-left article{
    
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.banner-right img{
    width: 100%;
    margin-bottom: 70px;  
}

.primary-button{
    padding: 8px 28px;
    background-color: #E02C6D;
    border-radius: 15px;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: 600;
   align-items: center;
   cursor: pointer;
}

.banner-right img{
    width: 400px;
    margin-bottom: 70px;
}
/*............
.............
             Brand Section
  , ,  ,,,,,,,, ,,,,,,,,,,,,,,,
      ,,,,,,,,,,,,,,,,,,,,,,,*/
.brand{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    
    
}
/*--------------Products Item Style=============*/
.section-title h2{
    margin-top: 50px;
   text-align: center;
    font-weight: 600;
    font-size: 1.8em;
}
.products{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.product{
    width: 330px;
   
   padding: 30px;
    border-radius: 10px solid;
    box-shadow: 0 30px 35px rgba(0,0,0,.2);
}
.product img{
    width: 270px;
    border-radius:10px solid gray ;
    object-fit: cover;
}
.product-details{
    color: #787885;
}
li{
    list-style: none;
}
li .fas{
    color: orange;
}
/*============See More Section--------------*/
#see-more{
    color:#E02C6D;
    text-decoration: none;
    font-weight: 700;
  
    
}
/*==================
Contatc Section
=================*/
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: aquamarine;
    width: 100%;
    margin:auto;
    padding: 20px;

}
.contact-left{
    margin-left: 60px;
    margin-top: 150px;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #FF008E;
}
/*__-----_____Footer Section ++++======_____*/
footer{
    width: 100%;
    text-align: center;
    background-color: #0A0826;
    color: #FFFFFF;
    margin: auto;
    padding: 15px;
}
span a{
    color: #FFFFFF;
    padding: 6px;
    font-size: 18px;
}
/*_____ Tab  Responsive Version----- */


@media (max-width:950px){
    .products{
        grid-template-columns: 1fr 1fr;
    }
    .banner{
        grid-template-columns: 1fr 1fr;
    }
    .brand{
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
    }
    .contact{
        grid-template-columns: 1fr 1fr;
    }
    
}

/*-----Mobile-phone Responsive Version____________*/



@media (max-width:668px){
   
    
    .nav-toggler-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px 0;
        transform: translateY(-330px);
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: #121212;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
    }
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .banner-right img{
        margin-right: 0px;
    }
    .brand{
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
    }
    .banner-left h2{
        font-size: 10;
    }
    .banner-left article{
        margin: 0;
        padding: 0;
    }
    .products
    {
        grid-template-columns:  1fr;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .section-title{
        margin-right: 70px;
    }
   
    .banner-left{
        order: 2;
        padding: 50px 0;
    }
   
    .contact{
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
    }
}